# 忽略 node_modules 目录（前端依赖，不需要提交）
node_modules/
dist/
backups/
# 忽略 IDE / 工具生成的目录
.trae/
.vscode/
.idea/
.m2_repo/
# 忽略编译输出（如果是 Java 项目，也加上）
target/
*.class

# 忽略日志文件
*.log

# 忽略系统文件
.DS_Store
Thumbs.db
.gitignore
项目开发文档.md
Sql-create.md
Mysql-connect.md
Github-SSH-connect.md

# 忽略敏感信息
**/application-dev.yml


RelicAdmin-项目汇报PPT.md
seitem_结构和数据.sql
测试报告.md
用户使用手册.md
项目阶段开发文档.md

homework/