<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relic.mapper.FollowMapper">

    <resultMap id="followResultMap" type="com.relic.entity.UserFollow">
        <id property="id" column="id"/>
        <result property="followerId" column="follower_id"/>
        <result property="followeeId" column="followee_id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectByFollowerAndFollowee" resultMap="followResultMap">
        SELECT * FROM user_follows WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
    </select>

    <select id="selectByPage" resultMap="followResultMap">
        SELECT * FROM user_follows
        <where>
            <if test="followerName != null and followerName != ''">
                AND follower_id IN (SELECT id FROM users WHERE username LIKE CONCAT('%', #{followerName}, '%'))
            </if>
            <if test="followeeName != null and followeeName != ''">
                AND followee_id IN (SELECT id FROM users WHERE username LIKE CONCAT('%', #{followeeName}, '%'))
            </if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countByPage" resultType="long">
        SELECT COUNT(*) FROM user_follows
        <where>
            <if test="followerName != null and followerName != ''">
                AND follower_id IN (SELECT id FROM users WHERE username LIKE CONCAT('%', #{followerName}, '%'))
            </if>
            <if test="followeeName != null and followeeName != ''">
                AND followee_id IN (SELECT id FROM users WHERE username LIKE CONCAT('%', #{followeeName}, '%'))
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO user_follows (follower_id, followee_id, created_at)
        VALUES (#{followerId}, #{followeeId}, #{createdAt})
    </insert>

    <delete id="delete">
        DELETE FROM user_follows WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
    </delete>

</mapper>